services:
  postgres:
    image: postgres:17
    ports:
      - 2345:5432
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=beavermoney
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8.2
    ports:
      - 6379:6379

  # minio:
  #   image: minio/minio
  #   container_name: local_s3
  #   ports:
  #     - "9000:9000" # API Port
  #     - "9001:9001" # Console Port
  #   environment:
  #     MINIO_ROOT_USER: "user"
  #     MINIO_ROOT_PASSWORD: "password"
  #   command: server /data --console-address ":9001"
  #   volumes:
  #     - minio_data:/data

volumes:
  pgdata:
  # minio_data:
